* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    /* background: url('../img/wallpaper.png'); */
    background-size: fit;
    background-color: #0e0e0e;
opacity: 1;
background-image:  repeating-linear-gradient(45deg, #080808 25%, transparent 25%, transparent 75%, #080808 75%, #080808), repeating-linear-gradient(45deg, #080808 25%, #0e0e0e 25%, #0e0e0e 75%, #080808 75%, #080808);
background-position: 0 0, 10px 10px;
background-size: 20px 20px;
    color: white;
    overflow: hidden;
}

/* Fonts */
h1 {
    font-size: 4.5rem;
    text-align: center;
    font-family: monospace;
}
/* h2 { */
    /* font-family: monospace; */
/* } */
p {
    font-family: monospace;
    text-align: center;
    font-size: 1.5rem;
}

.hidden {
    visibility: hidden;
    display: none;
}

/* img { */
/*     width: 50%; */
/* } */

#pokemon {
    z-index: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.title {
    margin-top: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    /* background: rgba(0, 0, 0, .25); */
    border-radius: 10%;
    margin-top: -25px;
    z-index: 0;
    width: 900px;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: #fff; */
    border-radius: 10%;
}

button {
    background: red;
    color: white;
    width: 800px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1.25rem;
}

/* Form */
/* input { */
/*     width: 500px; */
/*     font-family: monospace; */
/*     text-align: center; */
/*     z-index: 3; */
/* } */
/* button { */
/*     width: 500px; */
/*     font-family: monospace; */
/*     z-index: 3; */
/* } */
